<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p class="flash"><%= notice %><%= alert %></p>
    <div id="top_image"><%= image_tag 'iine.png' %></div>
  </div>
</div>
